body {
    background:rgb(71, 71, 71);
    color: white;
    font-size: xx-large;
    font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif

}

header {
    background-color: black;
    background-image: url("images/movie.jpg");
    background-size: 600px;
    background-position: center;
    height:400px;
    padding: 20px;
    text-align: center;
}

header .logo {
    background-image: url("images/nyuad.png");
    background-size: 98px;
    background-repeat: no repeat; 
    display: inline-block;
    height: 40;
    text-indent: -99999999px;
    width: 200;

}
section {
    background: rgb(86, 0, 112);
    color: rgb(247, 217, 255);
    padding:20px;
    display: flex;
    flex-direction: row;
}

div {
    color:gray;
    font-size: medium;
    position: center;
    margin: auto;
    width: 200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 60px;
}

footer {
    background: black;
    padding: 10px 20px;

}